*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --white: #FFFFFF;
    --light-gray: #F7F7F7;
    --soft-gray: #E0E0E0;
    --text-dark: #333333;
    --black:#0B0E13;
    --pink: #FF4F8B;
    --blue: #3A7AFE;
    --yellow: #FFD369;
    --orange:#b63f07;
    --trans:all 0.3s ease ;
}

body{
    color: var(--text-dark);
    background-color: var(--white);
    padding-top: 40px;
}


p{
    color: var(--text-dark);
    line-height: 1.6;
}



h1,h2,h3{
    font-family:'Times New Roman', Times, serif;
    color: var(--text-dark);
    font-weight: 600;
    transition: var(--trans);
}

/* Navbar */
.navbar{
    background-color: var(--white);
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo{
    font-weight: 700;
    color: var(--black);
    text-shadow: 1px 1px 17px var(--orange);
}

.nav-link{
    color: var(--text-dark);
    font-weight: 400;
    margin-right: 1rem;
    font-size: 0.9375rem;
}
.nav-link:hover ,
.nav-icon:hover{
    color: var(--black);
    cursor: pointer;
}

.nav-icon{
    color: var(--text-dark);
}

.btn{
    color: var(--black);
    background-color: var(--orange);
    position: relative;
    overflow: hidden;
    font-weight: bold;
}
.btn:hover{
      background-color: rgb(205, 74, 9);
    color: var(--text-dark);
}
.btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;  
    width: 1rem;
    height: 100%;
    background: rgba(255,255,255,0.6);
    box-shadow: 1px 1px 5px rgba(255,255,255,0.4);
}
.btn:hover::after {
    animation: shine .5s linear;
}
@keyframes shine {
    to { left: 120%; }
}


/* Sections */
.section-title {
    color: var(--text-dark);
    margin-bottom: 1.25rem;
    text-align: center;
}

/* Story & Mission Sections */
.story-section, 
.mission-section,
.vision-section {
    padding: 50px 20px;
    background-color: var(--light-gray);
    border-radius: 10px;
    margin-bottom: 30px;
}
h2:hover{
    text-shadow: 2px 2px 2px var(--orange);
    cursor: pointer;
}
/* Offer Cards */
.icon-box {
    background-color: var(--white);
    border: 1px solid var(--soft-gray);
    border-radius: 10px;
    padding: 25px 15px;
    text-align: center;
    transition: all 0.3s ease;
    color: var(--text-dark);
    
}
.icon-box h5{
    margin: 10px 0;
    color: var(--black);
     text-shadow: 1px 1px 1px var(--orange);
   
}
.icon-box:hover {
    transform: translateY(-5px);
    background-color: var(--light-gray);
}


/* footerr //////////////////////////////////////////////////////////////////////// */

.footer-icon-box {
      width: 45px;
      height: 45px;
      background: var(--soft-gray);
     color: var(--text-dark);
      transition: var(--trans);
    }

    .footer-icon-box:hover {
     color: white;
     background-color: var(--orange);

    }

   .f-logo{
       font-weight: 700;
       font-size: 30px;
    color: var(--black);
    text-shadow: 1px 1px 20px var(--orange);
   }



/* Media Query for small screens */
@media(max-width:768px){
    .navbar-nav{
        text-align: center;
    }
    .nav-link{
        margin-bottom: 0.5rem;
    }
}
