*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --white: #FFFFFF;
    --light-gray: #F7F7F7;
    --soft-gray: #E0E0E0;
    --text-dark: #333333;
    --black:#0B0E13;
    --pink: #FF4F8B;
    --blue: #3A7AFE;
    --yellow: #FFD369;
    --orange:#b63f07;
    --trans:all 0.3s ease ;
}


/* Navbar */
.navbar{
    background-color: var(--white);
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo{
    font-weight: 700;
    color: var(--black);
    text-shadow: 1px 1px 17px var(--orange);
}

.nav-link{
    color: var(--text-dark);
    font-weight: 400;
    margin-right: 1rem;
    font-size: 0.9375rem;
}
.nav-link:hover ,
.nav-icon:hover{
    color: var(--black);
    cursor: pointer;
}

.nav-icon{
    color: var(--text-dark);
}

.btn{
    color: var(--black);
    background-color: var(--orange);
    position: relative;
    overflow: hidden;
    font-weight: bold;
}
.btn:hover{
      background-color: rgb(205, 74, 9);
    color: var(--text-dark);
}
.btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;  
    width: 1rem;
    height: 100%;
    background: rgba(255,255,255,0.6);
    box-shadow: 1px 1px 5px rgba(255,255,255,0.4);
}
.btn:hover::after {
    animation: shine .5s linear;
}
@keyframes shine {
    to { left: 120%; }
}

/* hero sec ////////////////////////////////////////////////////////////////////// */
.hero-sec{
    height: 97vh;
    background-color:#d4cdc8;
    background-image: url(../images/Hoodies_-_Homepage_Desktop_1.webp);
    background-position:center center ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
   
}

.herosec-txt{
    font-size: 1.5rem;
    font-weight: 600;
    text-shadow: 1px 1px 17px var(--orange);
    span{
        font-size: 3.5rem;
        font-weight: 700;
    }

}
/* sec1 ///////////////////////////////////////////////////////////////// */
.sec1-card{
    background-color: var(--white);
      background-color: var(--white);
    box-shadow: 2px 2px 10px gray;
}
.sec1-img{
    width: 45%;
}
.sec1-img img{
    width: 100%;
    /* height: 70%; */
 
}


.sec1-txt{
    width: 55%;
    
    a{
        font-size: 0.75rem;
        color: var(--white);
       background-color: #8d4349;
       transition: var(--trans);
    } 
}
.sec1-txt a:hover{
    color: #8d4349;
    background: none;
    border: 2px solid #8d4349;
    i{
        transform: translateX(3px);
    }
}
.c-off{
    font-weight: 600;
}
.c-collection{
    font-size: 0.875rem;
}

.sec1-card2{
    background-color: var(--white);
}
.sec1-txt2{
    width:55%;
    
    a{
        font-size: 0.75rem;
        color: var(--white);
       background-color:#7b6f54;
       transition: var(--trans);
    } 
}
.sec1-txt2 a:hover{
    color: #7b6f54;
    background: none;
    border: 2px solid #7b6f54;
    i{
        transform: translateX(3px);
    }
}
.sec1-img2{
    width: 45%;
}
.sec1-img2 img{
    width: 90%;
    /* height: 70%; */
 
}


.sec1-txt3{
    width:55%;
    
    a{
        font-size: 0.75rem;
        color: var(--white);
       background-color:#1b1d26;
       transition: var(--trans);
    } 
}
.sec1-txt3 a:hover{
    color: #1b1d26;
    background: none;
    border: 2px solid #1b1d26;
    i{
        transform: translateX(3px);
    }
}
.sec1-img3{
    width: 45%;
}
.sec1-img3 img{
    width: 90%;
    /* height: 70%; */
 
}

/* sec 2 ///////////////////////////////////////////////// */
.titleee{
        text-shadow: 1px 1px 17px var(--orange);
}


.product-card{
    background-color:var(--white);
      
}
.pro-img{
    margin: auto;

}
.pro-img img{
    width: 100%;
    height: 50%;
}
.product-card .color-btns{
    width: 20px;
    height: 20px;
    border: 2px solid gainsboro;
}

.b-btn{
    background-color: black;
}
.g-btn{
    background-color: gray;
}
.w-btn{
    background-color: white;
}
.br-btn{
    background-color: rgb(110, 54, 6);
}
.silver-btn{
    background-color: silver;
}
.pink-btn{
    background-color: var(--pink);
}
.blue-btn{
    background-color: #0e2758;
}
.gold-btn{
 
    background-color: #ddb767;
}
.add-to-cart-btn{
    background-color: var(--black);
    color: var(--soft-gray);
    transition: var(--trans);
}

.add-to-cart-btn:hover{
    background-color: var(--soft-gray);
    color: var(--black);
}


/* footerr //////////////////////////////////////////////////////////////////////// */

.footer-icon-box {
      width: 45px;
      height: 45px;
      background: var(--soft-gray);
     color: var(--text-dark);
      transition: var(--trans);
    }

    .footer-icon-box:hover {
     color: white;
     background-color: var(--orange);

    }

   .f-logo{
       font-weight: 700;
       font-size: 30px;
    color: var(--black);
    text-shadow: 1px 1px 20px var(--orange);
   }



/* Media Query for small screens */
@media(max-width:768px){
    .navbar-nav{
        text-align: center;
    }
    .nav-link{
        margin-bottom: 0.5rem;
    }
}
