*{padding:0;margin:0;box-sizing:border-box}


html,body{height:100%;}
body{
  margin:0; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background:var(--whiteColor2); color:var(--text-dark); -webkit-font-smoothing:antialiased;
  position: relative;
}

:root{
  --whiteColor: #F1F1F1 ;
  --whiteColor2:#cac9c9;
  --yellow: #ecf322 ;
  --black-bg : #0B0E13 ;
  --text-dark: rgba(11,14,19,0.9);
  --muted: rgba(11,14,19,0.55);
  --accent-orange:#ff8c33;
}


/* -------page Home  */
a{color:inherit; text-decoration:none}

.site-wrapper{max-width:1180px; margin:0 auto; padding:18px}





:root{
    --white: #FFFFFF;
    --light-gray: #F7F7F7;
    --soft-gray: #E0E0E0;
    --text-dark: #333333;
    --black:#0B0E13;
    --pink: #FF4F8B;
    --blue: #3A7AFE;
    --yellow: #FFD369;
    --orange:#b63f07;
    --trans:all 0.3s ease ;
}

body{
    color: var(--text-dark);
    background-color: var(--white);
    padding-top: 40px;
}


p{
    color: var(--text-dark);
    line-height: 1.6;
}



h1,h2,h3{
    font-family:'Times New Roman', Times, serif;
    color: var(--text-dark);
    font-weight: 600;
    transition: var(--trans);
}
/* 
/* Navbar */
.navbar{
    background-color: var(--white);
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo{
    font-weight: 700;
    color: var(--black);
    text-shadow: 1px 1px 17px var(--orange);
}

.navbar .nav-link{
    color: var(--text-dark);
    font-weight: 400;
    margin-right: 1rem;
    font-size: 0.9375rem;
}
.navbar .nav-link:hover ,
.nav-icon:hover{
    color: var(--black);
    cursor: pointer;
}

.nav-icon{
    color: var(--text-dark);
}

 form .btn{
    color: var(--black);
    background-color: var(--orange);
    position: relative;
    overflow: hidden;
    font-weight: bold;
}
 form .btn:hover{
      background-color: rgb(205, 74, 9);
    color: var(--text-dark);
}
form .btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;  
    width: 1rem;
    height: 100%;
    background: rgba(255,255,255,0.6);
    box-shadow: 1px 1px 5px rgba(255,255,255,0.4);
}
.btn:hover::after {
    animation: shine .5s linear;
}
@keyframes shine {
    to { left: 120%; }
}
 


/* Hero */
.hero{margin-top:7px; border-radius:8px; overflow:hidden; position:relative; background-color:var(--whiteColor);}
.hero .inner{
  display:flex; align-items:center; gap:24px; padding:48px 36px; min-height:360px;
  background-image: url(../img/Screenshot\ 2025-11-20\ 123910.png);
  background-size:cover; background-position:center right;
}
.hero h1{margin:0; font-size:40px; color:var(--black-bg); display:inline-block; padding:8px 16px; border-radius:6px}
.hero p{margin:8px 0 0px 30px; color:var(--muted)}

/* Features */
.features-row{display:flex; justify-content:space-between; gap:12px; padding:18px 10px; background:rgba(0,0,0,0.02); border-top:1px solid rgba(0,0,0,0.03); margin-top:6px}
.feature{flex:1; text-align:center; padding:8px}
.feature .icon{width:36px; height:36px; border-radius:8px; display:inline-grid; place-items:center; background:rgba(11,14,19,0.06); margin-bottom:8px}
.feature p{margin:0; font-size:13px; color:var(--muted)}

/* Products */
.products-section{padding:36px 0}
.section-title{text-align:center; margin:18px 0 0; font-size:16px; color:#b63f07}
.section-title:hover{font-size:20px;color:var(--whiteColor2) }
.products{display:grid; grid-template-columns:repeat(4, 1fr); gap:18px;margin-top: 20px;}
.product{background:var(--whiteColor); border-radius:8px; padding:0px; text-align:center; box-shadow:0 6px 18px rgba(11,14,19,0.04);}
.product img{width:100%; height:100%; object-fit:cover; border-radius:6px;  transition: transform 0.3s ease;}
.product img:hover{transform: scale(1.1)}



.pager{display:flex; justify-content:center; gap:8px; margin:18px 0}
.pager button{border:1px solid rgba(11,14,19,0.06); background:transparent; padding:6px 10px; border-radius:6px}
/* ---------------   logos       */
.logos {
  padding: clamp(1rem, 4vw, 3rem) 0;
  display: flex;
  justify-content: center;
}


.logos-container {
  width: 100%;
  max-width: 1200px;

  
  display: grid;
  gap: clamp(1rem, 2vw, 2rem);
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

  align-items: center;
  justify-items: center;
}

.logo-item img {
  width: clamp(60px, 12vw, 120px);

  border-radius: 60px;

transition: transform 0.3s ease;

}

.logo-item img:hover {

transform: scale(1.1);
}
.logo-item a h5{
  color:var(--muted);

}
.logo-item a h5:hover{
  color:var(--accent-orange)
}

/* Callouts */
.callouts{display:grid; grid-template-columns:1fr 1fr; gap:18px; margin:28px 0}
.callout{background:rgb(205, 203, 203); padding:20px; border-radius:8px; box-shadow:0 6px 18px rgba(11,14,19,0.04);transition: transform 0.3s ease;}
 .callout:hover{transform: scale(1.03);}
.callout .h31{margin:20px 150px}
 .callout .p1{margin-left: 150px;margin-top: 10px;}
 .callout .ctacall{margin-left: 250px;margin-top:10px ;}
.callout .h32{margin:20px 0 0 500px}
.callout .p2{margin-left: 500px;margin-top: 10px;}
.callout-img{display:flex; align-items:center; justify-content:space-between; gap:12px ; background-image: url(../images/Screenshot\ 2025-11-22\ 002603.png);
  background-size:cover; background-position:center right ;}



 
/* News */
.news-row{display:grid; grid-template-columns:2fr 1fr; gap:18px; margin-bottom:30px }
.news-card{background:var(--whiteColor); padding:16px; border-radius:8px;transition: transform 0.3s ease;}
.news-card:hover{transform: scale(1.02);}
.author-card{text-align:center}
.card2{background-color:#f3b961}
.author-card img{width:80px; height:80px; border-radius:50%}
.h41{margin:-130px 0 0 450px}
.p12{margin:20px 0 20px 400px}
.ctanew{margin:50px 0 0px 450px}


/* Footer */

/* footerr //////////////////////////////////////////////////////////////////////// */

.footer-icon-box {
      width: 45px;
      height: 45px;
      background: var(--soft-gray);
     color: var(--text-dark);
      transition: var(--trans);
    }

    .footer-icon-box:hover {
     color: white;
     background-color: var(--orange);

    }

   .f-logo{
       font-weight: 700;
       font-size: 30px;
    color: var(--black);
    text-shadow: 1px 1px 20px var(--orange);
   }



/* Media Query for small screens */
@media(max-width:768px){
    .navbar-nav{
        text-align: center;
    }
    .nav-link{
        margin-bottom: 0.5rem;
    }
}



/* Responsive */
@media (max-width:1500px){ .callouts{grid-template-columns:1fr}.callout .h32{margin:20px 0 0 700px}
.callout .p2{margin-left: 700px;margin-top: 10px;}
}
@media (max-width:1000px){.products{grid-template-columns:repeat(3, 1fr)} .hero .inner{padding:36px} .callouts{grid-template-columns:1fr}
    .ctanew{margin-left: -10px;}  .callout .h32{margin:20px 0 0 400px}
.callout .p2{margin-left: 400px;margin-top: 10px;}
}
@media (max-width:760px){
  nav.main-nav ul{display:none}
  .logos-container{grid-template-columns:repeat(5, 1fr)}
  .products{grid-template-columns:repeat(2, 1fr)}
  .news-row{grid-template-columns:1fr}
  .callouts{grid-template-columns:1fr}
  .hero h1{font-size:22px;; margin-left: -40px;}
  .hero p{font-size:13px; margin-left: -10px;}
  .h41,.p12,.ctanew{margin-top: 30px;margin-left: -10px;}
  .hero .inner{padding:28px; min-height:220px; background-position:center}
   .callout .h32{margin:20px 0 0 400px}
.callout .p2{margin-left: 400px;margin-top: 10px;}

  

}
@media (max-width:550px){
  .logos-container{grid-template-columns:repeat(5, 1fr)}
  .products{grid-template-columns:1fr}
  header.site-header{flex-direction:column; align-items:flex-start; gap:8px}
  .hero h1{font-size:22px;}
  .hero p{font-size:13px}
  .callout .h32{margin:20px 0 0 200px}
.callout .p2{margin-left: 200px;margin-top: 10px;}
.callout .h32{margin:20px 0 0 200px}
.callout .p2{margin-left: 200px;margin-top: 10px;}

  
  
}
/* --------------------------------------------------------------------------------------------------------------------------- */














